@import './../../styles/colors.scss';

.interaction-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    display: flex;

    p {
      display: block;
      width: 100px;
    }
    input {
      margin-left: 30px;
    }
    textarea {
      margin-left: 30px;
    }
  }
}