$clr-background-body: #0787C7;
$clr-background-to-do: #FFF;
$clr-background-interaction-section: #DCF5F3;
$clr-background-btn-blue: #0B98C0;
$clr-background-btn-white: #FFF;
$clr-text-h: #2A92C5;
$clr-text-p: #48B1CF;
$clr-border-section: #229AD5;
$clr-border-to-do-item: #75B4D4;
$clr-shadow: rgba(0, 0, 0, 0.25);
