$clr-background-body: #0787C7;
$clr-background-to-do: #FFF;
$clr-background-edit-section: #DCF5F3;
$clr-background-btn: #0B98C0;
$clr-text-h: #2A92C5;
$clr-text-p: #48B1CF;
$clr-border-section: #229AD5;
$clr-border-to-do-item: #75B4D4;
