@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@700&family=Source+Sans+Pro&display=swap');

$font-h1: 'Open Sans', sans-serif;
$font-h2: 'Mulish', sans-serif;
$font-p: 'Source Sans Pro', sans-serif;