@import './fonts.scss';
@import './colors.scss';

h1 {
  font-family: $font-h1;
}

h2 {
  font-family: $font-h2;
}

p {
  font-family: $font-p;
}

.btn {
  background-color: $clr-background-btn-blue;
  border-radius: 10px;
  color: $clr-background-btn-white;
  font-family: $font-p;

  &--white {
    background-color: $clr-background-btn-white;
    color: $clr-background-btn-blue
  }
}