@import './styles/colors.scss';

body {
  width: 100vw;
  height: 100vh;
  background-color: $clr-background-body;
}

.app {
  height: 90%;
  width: 80%;
  margin: auto auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 20px $clr-shadow;

}

main {
  background-color: $clr-background-to-do;;
  height: 100%;
}

.to-do {
  display: flex;
  height: 100%;

  &__panel {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    width: 100%;
    background-color: $clr-background-to-do;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
      height: 60%;
      width: 70%;
    }
  }

  &__interaction-area {
    border-left: 1px solid $clr-border-section;
    background-color: $clr-background-interaction-section;
    height: 100%;
    width: 80%;
  }
}
