@import './../../styles/colors.scss';

.to-do-item {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 80%;
  cursor: pointer;
  text-overflow: ellipsis;

  &__text {
  border: 2px solid $clr-border-to-do-item;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      width: 90%;
      line-height: 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  &__active {
    outline: 1px solid black;
  }
}